@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - ";
}
<table style="background-color:rgb(222,245,246)">
    <tr style="line-height: 350px">
        <td style="width: 60px"></td>
        <td style="width: 350px"><img src="images/MyRecords.jpg" /></td>
        <td style="width: 350px"><img src="images/BMI.jpg" /></td>
        <td style="width: 350px"><img src="images/Pollen.jpg" /></td>
    </tr>
    <tr style="line-height: 350px">
        <td style="width: 60px"></td>
        <td><img src="images/AirQ.jpg" /></td>
        <td><img src="images/Provider.jpg" /></td>
        <td><img src="images/CDC.jpg" /></td>
    </tr>
</table>

